{% extends 'searchapp/base.html' %}

{% block content %}

    <div class="row" style="margin: 15% 0 0 20%">

        <p class="flow-text">Search developers: </p>

        <form method="get" action="{% url 'details' %}">

            <div>
                <p class="flow-text">who can write: </p>
                <p>
                    <label>
                        <input name="canWrite" type="checkbox" value="ruby"/>
                        <span>Ruby</span>
                    </label>
                    <br>
                    <label>
                        <input name="canWrite" type="checkbox" value="javascript"/>
                        <span>JavaScript</span>
                    </label>
                </p>

            </div>

            <div>
                <p class="flow-text">who can speak: </p>
                <p>
                    <label>
                        <input name="canSpeak" type="checkbox" value="ja"/>
                        <span>Japanese</span>
                    </label>
                    {#                    <br>#}
                    {#                    <label>#}
                    {#                        <input name="canSpeak" type="checkbox" value="en"/>#}
                    {#                        <span>English</span>#}
                    {#                    </label>#}
                </p>

            </div>

            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <button type="submit" class="btn btn-default">Search</button>
            </div>

        </form>

    </div>
{% endblock %}
